.trae

**/node_modules/

**/dist/
**/dist-ssr/
**/build/
**/coverage/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

/backend/prisma/*.db*

*.log
logs/

*.tsbuildinfo

.DS_Store
Thumbs.db

.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
